<h2>Introducing GeniusCenter Authentication Service into Your Applications</h2>
<h3>1. Work Procedure</h3>
The following picture shows a brief work procedure of authenticating by GeniusCenter
<%= link_to image_tag("login-process.png", alt: "Rails logo") %>
<h2>User Login Steps</h2>
1. User open an internal website(APP) to login;<br>
2. APP redirected to MC_login_URL;<br>
3. User open MC_login_URL;<br>
4. User submit login form to MC, and MC authenticated user and issued one ticket for user;<br>
5. MC redirected to APP_callback_URL;<br>
6. User request APP_callback_URL;<br>
7. APP server got ticket passed by user;<br>
8. APP server post an request to MC for verifying and authenticating the ticket;<br>
9. When verified and authenticated this ticket, MC respond ticket-associated user information to APP server;<br>
10. APP render user welcome page;<br>

<h3>See more at <a href="https://github.com/acearth/member-center">Github</a></h3>

