<div class="container list-group">
<% @sp_list.each do |sp| %>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="thumbnail" style="height:200px; padding: 0px;">
        <div class="caption text-center" style="background-color: lightseagreen">
          <h3>
            <%= link_to sp.app_id, '/login?app_id=' + sp.app_id %>
          </h3>
        </div>
        <p style="padding: 20px;">
          <%= sp.description %>
        </p>
      </div>
    </div>
<% end %>
</div>

<h4 class="center"><%= link_to 'Read more on catalog', 'http://192.168.133.171/prm/catalog/1566#Overview' %></h4>
