<h1>Genius Center</h1>
<h2>Merits</h2>
<ul>
  <li>Reduce user's responsibility to keep many accounts;</li>
  <li>Reduce third-party application developing workload on user management;</li>
  <li>Providing better secure accounting service;</li>
  <li>Enable user's behavior analysis;</li>
  <li>Easy to manage user account, such as remove one terminated employees account from all internal services;</li>
</ul>

<h4 class="center"><%= link_to 'Read more on catalog', 'http://192.168.133.171/prm/catalog/1566#Overview' %></h4>