<h1>Genius Center</h1>
<h2>Merits</h2>
<ul>
  <li>Reduce user's responsibility to keep many accounts;</li>
  <li>Reduce third-party application developing workload on user management;</li>
  <li>Providing better secure accounting service;</li>
  <li>Enable user's behavior analysis;</li>
  <li>Easy to manage user account, such as remove one terminated employees account from all internal services;</li>
</ul>
