<h1>New User</h1>
<div class="center">
  <span style="color: red"><strong>NOTICE</strong></span>
  <p>
    Genius account is planning to merging into ITS LDAP account(commonly know as Gmail account). Now you can use you
    Gmail address and password to login Genius Center. User data is synchronized automatically with your Genius account
    when you using Gmail account login.
  </p>
  <p>
    To reduce internal account managing cost and provide better internal auth service, we plan to stop Genius account
    self-registration service after 30/Sept, 2018. After stop account self-registration, new member will auto-registered
    when he/she first loggin to Genius Center by using Gmail account.
  </p>
  <p>
    <strong>We recommend you to use Gmail account login Genius directly </strong>. All existed user are not affected by
    this
    Genius account upgrade.
  </p>
</div>

<%= render 'form', user: @user %>

