default: &default
  smtp_server: mx.example.com
  default_from: admin@example.com
  default_host: myapp.example.com
  address_regex: /\A[^@\s]+@[^@\s]+\z/

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
